body {
    margin: 0% 10%;
}

.video_preview {
    display: inline-block;
    position: relative;
    background: #ddd;
    overflow: hidden;
    width: 160px;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0 0 6px #bbb;
}

.video_preview span {
    display: inline-block;
    color: red;
    padding: 2px 7px;
    margin: 1em;
    font-size: 120%;
    color: white;
    background-color: darkred;
    opacity: 70%;
}
